@import 'tailwindcss';


@plugin '../hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html, body {
  background-color: #f9f4ed;
}


:root {
  --font-noto: 'Noto Sans JP', sans-serif;
  --font-jp: 'Mochiy Pop One', sans-serif;
  --font-jp-round: 'M PLUS Rounded 1c', sans-serif;
}

body {
  font-family: var(--font-noto), sans-serif;
}

.font-noto {
  font-family: var(--font-noto), sans-serif;
}

.font-jp {
  font-family: var(--font-jp), sans-serif;
}

.font-jp-round {
  font-family: var(--font-jp-round), sans-serif;
}